<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Import JQuery -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <title>Party Setup</title>
</head>
<body>

<div class="text-center" style="width: 100%">
    <div class="text-center" style="width: 25%; margin: 0 auto">
        <h1 class="text-center">Event Setup</h1>
        <br>
        <div class="form-group row">
            <label for="eventName" class="col-xs-2 col-form-label">Event Name:</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" placeholder="Alpha Beta Chi Frat Party" id="eventName">
            </div>
        </div>
    
        <div class="form-group row">
            <label for="eventCost" class="col-xs-2 col-form-label">Cost</label>
            <div class="col-xs-10">
                <input class="form-control" type="number" placeholder="5" id="eventCost">
            </div>
        </div>
    
        <button class="btn btn-primary" onclick="window.open('/finishsetup', '_blank');">Submit</button>
    
    </div>
</div>

</body>
</html>