<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Import JQuery -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <title>Event Page</title>
</head>
<body>
<div class="text-center">
    <br>
    <br>
    <br>
<button id="startTransaction" class="btn btn-primary" type="button">Click to make a transaction</button>
    <br>
    <br>
<h2><span id="numberOfTransactions">0</span> people have made a transaction</h2>
</div>
</body>
</html>